.RegisterBox {
	position: absolute;
	width: 80%;
	left: 10%;
}

.RegisterButton {

}

.LoginBox {
	position: absolute;
	width: 80%;
	left: 10%;
}

.LoginButton {

}

.MailBox {
	border-style: solid;
	height: 100%;
	width: 60%;
	top:10%;
	bottom:10%;
	position: absolute;
}

.SendButton {

}

.PageMount {
	width: 80%;
	height: 80%;
	position: absolute;
	top:0;
	bottom: 0;
	left: 10%;
	right: 10%;

	margin: auto;
}

.tabs {
	position: absolute;
	width: 25%;
}

.RegisterTab {
	float:left;
	width:50%;
	overflow:hidden;
	white-space:nowrap;
}

.LoginTab {
	float:left;
	width:50%;
	overflow:hidden;
	white-space:nowrap;
}

.MenuTab {
	float:left;
	width:50%;
	overflow:hidden;
	white-space:nowrap;
}

.usernameLabel {
	border-style: solid;
	position: absolute;
	top: 0;
	left: 50px;
}

.aMessage {
	position: absolute;
	bottom: 0;
	left: 50px;
}

.MessageComponent{
	position: relative;
	width: 100%;
	height: 50px;
}

.typingBox {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.menuStyle {
	display: none;
}

.tabs:hover .menuStyle {
	display: block;
}